function crawl() {
	cd ~/tmp;
	REPLACED=${1//./_};
	mkdir -p "$REPLACED"
	wget -r -nd -D "$1" --delete-after -nc -nv "https://$1/" -P "./$REPLACED" 2>&1 | tee -a "$REPLACED".`date +%s`.log;
}


function get_my_cnf() {
	ssh "$1" 'uname -n && cat .my.cnf'
}
